<!--content_left-->
<div class="container_top15">
    <!--khst-->
    <!--
    <div id="khst">
        <div id="khst_neirong">
            <ul>
                <li>
                    <div id="khst_neirong_title">物料：</div>
                </li>
                <li>
                    <img src="images/khst_01.png" border="0"  class="khst_img_01" />
                </li>

            </ul>
            <div class="clear"></div>
        </div>
    </div>
    -->

    <!--消息-->
    <div id="gzrl_dlcg" style="width: 100%; margin-top: 10px;">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="alert.close()">
            <span data-ng-bind-html="alert.msg"></span>
        </alert>
    </div>

    <!--plczkh-->
    <div id="plczkh">
        <div id="plczkh_neirong" style="padding: 0 0 0 0;margin: 0;">

            <div id="khst_neirong">
                <ul>
                    <li>
                        <img src="images/khst_01.png" border="0"  class="khst_img_01" />
                    </li>
                    <li>
                        <div id="khst_neirong_title" style="font-size:12px">&nbsp;物资发放</div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>


            <div class="back_box" style="margin-top:10px; position: relative">
                <div id="gsxxdiv">
                    <form action="#" name="form" class="form-horizontal">
                        <div class="form-body">

                         <!--   <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    物料申请id：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <input type="text" class="xzbjd_jbxx_table_text" ng-model="materiel_releaselog.item.materiel_apply_id"  name="materiel_apply_id" />
                                </div>
                                <div class="clear"></div>
                            </div>-->
                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    发放人：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <!--<input type="text" class="xzbjd_jbxx_table_text" disabled ng-model="materiel_releaselog.item.fafangren_id"  name="fafangren_id" />-->
                                    <input type="text" class="xzbjd_jbxx_table_text" disabled value="{{materiel_releaselog.item.fafangren_name}}" />
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    发放时间：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <!--<input type="text" class="xzbjd_jbxx_table_text" disabled ng-model="materiel_releaselog.item.fafang_time"  name="fafang_time" />-->
                                    <input type="text" class="xzbjd_jbxx_table_text" disabled value="{{materiel_releaselog.item.fafang_time}}" />
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    <span  ng-class="{required:form.lingyongren_name.$invalid}">*</span>领用人：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <input type="text" class="xzbjd_jbxx_table_text" ng-focus="materiel_releaselog.openqishi()" required ng-model="materiel_releaselog.item.lingyongren_name"  name="lingyongren_name" />
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    物资/规格/单位：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <!--<input type="text" class="xzbjd_jbxx_table_text" ng-model="materiel_releaselog.item.materiel_id"  name="materiel_id" />-->
                                    <input type="text" class="xzbjd_jbxx_table_text"  disabled value="{{materiel_releaselog.item.materiel_name}}/{{materiel_releaselog.item.materiel_specifications}}/{{materiel_releaselog.item.danwei}}"/>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    <span  ng-class="{required:form.fafang_amount.$invalid}">*</span>发放数量：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <input type="number" class="xzbjd_jbxx_table_text" required ng-model="materiel_releaselog.item.fafang_amount"  name="fafang_amount" />
                                </div>
                                <div class="clear"></div>
                            </div>
                           <!-- <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    仓库：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <input type="text" class="xzbjd_jbxx_table_text" ng-model="materiel_releaselog.item.fafang_amount"  name="fafang_amount" />
                                </div>
                                <div class="clear"></div>
                            </div>-->



                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    <span  ng-class="{required:form.chuhuo_warehouse_id.$invalid}">*</span>仓库：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <!--<input type="text" class="xzbjd_jbxx_table_text" ng-model="ruku_manage.item.warehouse_id"  name="warehouse_id" />-->
                                    <select class="xzbjd_jbxx_table_text" required  ng-model="materiel_releaselog.item.chuhuo_warehouse_id"  name="chuhuo_warehouse_id"
                                            ng-options="d.id as d.warehouse_name for d  in materiel_releaselog.list">
                                    </select>
                                </div>
                                <div class="clear"></div>
                            </div>

                            <div class="tnz_half">
                                <div class="tnz_half_hui">
                                    仓库地址：
                                    <span class="tnz_kong"></span>
                                </div>
                                <div class="tnz_half_bai">
                                    <span class="tnz_kong"></span>
                                    <input type="text" class="xzbjd_jbxx_table_text" disabled value="{{materiel_releaselog.item.addr}}" />
                                </div>
                                <div class="clear"></div>
                            </div>





                            <!--附件-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label col-md-2">选择附件:</label>
                                        <div flow-init  flow-name="materiel_releaselog.fileflow" flow-files-submitted="materiel_releaselog.fileflow.upload()">
                                            <div class="col-md-2">
                                                <input type="button" flow-btn class="btn green btn-default btn-xs" value="添加导入文件" style="width:100px;"/>
                                            </div>
                                            <div class="col-md-8">
                                                <div ng-repeat="file in materiel_releaselog.fileflow.files" class="transfer-box">
                                                    <font  size="3" color="red">文件{{file.relativePath}}上传成功</font>
                                                   <!-- {{file.relativePath}} ({{file.size}}bytes)
                                                    <div class="progress progress-striped" ng-class="{active: file.isUploading()}">
                                                        <div class="progress-bar" role="progressbar"
                                                             aria-valuenow="{{file.progress() * 100}}"
                                                             aria-valuemin="0"
                                                             aria-valuemax="100"
                                                             ng-style="{width: (file.progress() * 100) + '%'}">
                                                            <span class="sr-only">{{file.progress()}}% Complete</span>
                                                        </div>
                                                    </div>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="clear"></div>

<div class="modal-footer lm_window_footer" >
     <button class="btn btn-xs green" ng-disabled="form.$invalid" style="border: 0px"  ng-click="submit()"> 提交</button>
    <button class="btn btn-xs green"  style="border: 0px"  ng-click="cancel()">关闭</button>
</div>