<div>
 	<!-- <div>
		<div style="float: left;"><img width="200px;" src="images/shili.jpg" height="200px"/><p style="text-align: center;margin-top: 5px;">身份证正面</p></div>
		<div style="float: left;margin-left: 70px;"><img width="200px;" height="200px"/><p style="text-align: center;margin-top: 5px;">身份证背面</p></div>
		<div style="float: left;margin-left: 70px;"><img width="200px;" height="200px"/><p style="text-align: center;margin-top: 5px;">手持照片</p></div>	
	</div>
	<div>
		<div style="float: left;"><img width="200px;" height="200px"/><p style="text-align: center;margin-top: 5px;">店员合影</p></div>
	</div> -->
	<ul style="width: 100%;margin: 0 auto;font-size: 0;" id="viewer">
		<li style="display: inline-block;width: 32%;margin-left: 1%;padding-top: 1%;">
			<img width="100%" alt="" data-magnify="gallery" data-src="images/chuku.png" src="images/chuku.png">
		</li>
		<li style="display: inline-block;width: 32%;margin-left: 1%;padding-top: 1%;">
			<img width="100%" alt="" data-magnify="gallery" data-src="images/shili.jpg" src="images/shili.jpg">
		</li>
		<li style="display: inline-block;width: 32%;margin-left: 1%;padding-top: 1%;">
			<img width="100%" alt="" data-magnify="gallery" data-src="images/shili.jpg" src="images/shili.jpg">
		</li>
		<li style="display: inline-block;width: 32%;margin-left: 1%;padding-top: 1%;">
			<img width="100%" alt="" data-magnify="gallery" data-src="images/shili.jpg" src="images/shili.jpg">
		</li>
	</ul>
</div>