<!--右侧内容部分导航-->
<div class="row lm_top">
    <span class="lm_left_corner"></span>
    <span class="lm_center">当前位置： 组织架构   &gt; 组织 &gt; 组织详情</span>
    <span class="lm_right_corner"></span>
</div>

<div class="row" style="border:2px solid #e1e1e1;padding-top: 15px;">
    <form class="form-horizontal" name="form">
        <div class="col-md-12">
          
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <div class="col-md-offset-11 col-md-2">
                    <button type="button" class="btn btn-default btn-xs" ng-click="org.save()">
                        <span class="glyphicon glyphicon-ok"></span> 保存
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>