<div>
	<div class="panel-group" id="accordion">
	<div class="panel panel-default" style="margin-top: 0px;">
		<div class="panel-heading" style="background-color: #eff8ff;color: #55a2dc;">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" ng-click="zhedie(1)"
				   >
					2017年12月 全部更新
				</a>
				
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body" style="font-size: 15px;">
				<p>回访SOP:2017年12月20日</p>
				<p style="font-weight: bold;">更新内容</p>
				<p>回访SOP</p>
			</div>
		</div>
		
	</div>
</div>
</div>