
<div class="row">
	<div class="col-md-12">
		<!-- Begin: life time stats -->
		<div class="portlet">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-list"></i>组织架构 - <small> <a
						ng-if="$root.auth('204')|| user.category_id=='0'|| user.category_id=='1'"
						href="#org-list/0" class="active">组织架构</a> | <a
						ng-if="$root.auth('203')|| user.category_id=='0'|| user.category_id=='1'"
						href="#user-list/0">用户管理</a>
					</small>
				</div>

				<div class="actions">
					<div class="btn-group btn-group-sm btn-group-solid">
						<!-- <button type="button" class="btn blue" ng-click="user.add('dept')" >添加部门</button>&nbsp;
                        <button type="button" class="btn green"  ng-click="user.add('post')">添加岗位</button>&nbsp;-->
						<button type="button" class="btn blue" ng-if="$root.auth('2031')"
							ng-click="user.userAdd()">添加用户</button>
						&nbsp;
					</div>

				</div>

			</div>

			<!--       <div class="btn-group btn-group-sm btn-group-solid">
                <div id="pns_left">
                    <div class="btn-group pns_left_dan">
                        <a class="btn dropdown-toggle btn-primary" href data-toggle="dropdown">
                            <i class="glyphicon glyphicon-search"></i>
                            <span style="font-size: 12px;font-weight: bold">按类别查看</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href ng-click="user.searchByType('all')">全部</a></li>
                            <li><a href ng-click="user.searchByType('1')">管理员</a></li>
                            <li><a href ng-click="user.searchByType('2')">员工</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>-->


		</div>
		<div class="portlet-body">
			<div class="table-container">
				<div id="datatable_ajax_wrapper"
					class="dataTables_wrapper dataTables_extended_wrapper no-footer">
					<!--开始table表头分页以及工具栏-->

					<!--结束table表头分页以及工具栏-->
					<!--开始table-->
					<div class="table-scrollable" style="overflow-y: auto">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr role="row" class="heading">
									<th width="1%"><input type="checkbox"
										class="group-checkable"></th>
									<th width="1%">序号</th>
									<th width="10%">真实名</th>
									<th width="10%">用户名</th>
									<th width="10%">岗位</th>
									<th width="10%">手机</th>
									<th width="10%">性别</th>

									<th width="10%">Email</th>
									<th width="10%">联系地址</th>
									<th width="10%">
										<div style="width: 120px">操作</div>
									</th>
								</tr>
								<!--                 <tr role="row" class="filter">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.project_id_lk">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.yanzhongxing_lk">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.chuxianpinglv_lk">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.status_lk">
                                    </td>

                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.chuliren_lk">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-filter input-sm" ng-model="bug.searchForm.searchItems.jingjichengdu_lk">
                                    </td>

                                    <td>
                                        <button class="btn btn-xs  filter-submit margin-bottom" ng-click="bug.searchN()"><i
                                                class="fa fa-search"></i> 查找
                                        </button>
                                        <button class="btn btn-xs  filter-cancel" ng-click="bug.reset()"><i class="fa fa-times"></i> 重置
                                        </button>
                                    </td>

                                </tr>-->
							</thead>
							<tbody>
								<tr ng-repeat="d in user.dataList" ng-class-odd="'odd'"
									ng-class-even="'even'">
									<td><span> <input type="checkbox"
											ng-model="d.checked" class="group-checkable" /></span></td>
									<td>{{$index+1}}</td>
									<td>{{d.value_name}}</td>
									<td><a href="#user-detail/{{d.id}}">{{d.name}}</a> <span
										ng-if="d.category_id=='1'"><img
											src="images/admin_img.png" style="width: 13px; height: 16px;"></span>
									</td>
									<td>{{d.department_name}} - {{d.position_name}}</td>
									<td>{{d.telephone}}</td>
									<td>{{d.sex=='1'&&'男'||d.sex=='0'&&'女'||''}}</td>

									<td>{{d.email}}</td>
									<td>{{d.address}}</td>

									<td><a ng-if="$root.auth('2035')"
										href="#user-detail/{{d.id}}"><i
											class="glyphicon glyphicon-search"></i>查看</a> <a
										ng-if="$root.auth('2032')" title="修改"
										href="#user-edit/{{d.id}}"><i
											class="glyphicon glyphicon-pencil"></i>修改</a> <a
										ng-if="$root.auth('2034')" title="删除" href
										ng-click="user.deleteData(d)"><i
											class="glyphicon glyphicon-remove"></i>删除</a> <!-- <div class="btn-group btn-group-xs">
                                        <button type="button" class="btn " ng-click="edit(d)">编辑</button>
                                        <button type="button" class="btn " ng-click="bug.deleteData(d)">删除</button>
                                       </div>--></td>
								</tr>

							</tbody>
						</table>
					</div>

					<div class="plczkh_neirong_xia_xia">
						<div class="plczkh_neirong_xia_xia_left">
							共{{user.searchForm.page.totalItems}}条记录{{user.searchForm.page.currentPage}}/{{user.searchForm.page.totalPages}}页
						</div>
						<div class="plczkh_neirong_xia_xia_mid">

							<pagination boundary-links="true"
								total-items="user.searchForm.page.totalItems"
								items-per-page="user.searchForm.page.itemsperpage"
								ng-model="user.searchForm.page.currentPage" max-size="5"
								num-pages class="pagination-sm" previous-text="&lt;&lt;上一页"
								next-text="下一页&gt;&gt;" first-text="首页" last-text="尾页"></pagination>
							<label style="display: inline-block; vertical-align: 8px;">每页
								<select ng-model="user.searchForm.page.itemsperpage"
								class="tnz_select input-xsmall input-sm input-inline">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="50">50</option>
									<option value="100">100</option>
									<option value="150">150</option>
							</select> 条
							</label>
							<div class="clear"></div>
						</div>

						<div class="plczkh_neirong_xia_xia_right">
							跳转至第<input ng-model="goto" type="number" class="t1"><input
								class="b1" type="button" ng-click="user.searchCurrent(goto)" />页
						</div>
						<div class="clear"></div>
					</div>
					<!--结束table-->
					<!--开始table尾部分页以及工具栏-->
					<!--<div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="dataTables_paginate paging_bootstrap_extended">
                                    <div class="pagination-panel"> 第 <a ng-click="user.prePage()"
                                                                        class="btn btn-sm default prev"
                                                                        title="Prev"><i class="fa fa-angle-left"></i></a><input
                                            type="text"  ng-model="user.searchForm.page.currentPage"
                                            class="pagination-panel-input form-control input-mini input-inline input-sm"
                                            maxlenght="5" style="text-align:center; margin: 0 5px;"><a   ng-click="user.nextPage()"
                                                                                                         class="btn btn-sm default next"
                                                                                                         title="Next"><i
                                            class="fa fa-angle-right"></i></a> 页,&nbsp;&nbsp;&nbsp;总<span class="pagination-panel-total">{{user.searchForm.page.totalPages}}</span>页
                                    </div>
                                </div>
                                <div class="dataTables_length" ><label><span
                                        class="seperator">|</span>每页 <select ng-model="user.searchForm.page.itemsperpage" class="form-control input-xsmall input-sm input-inline">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                    <option value="150">150</option>
                                </select> 条</label></div>
                                <div class="dataTables_info"  role="status" aria-live="polite">
                                    <span class="seperator">|</span>总计{{user.searchForm.page.totalItems}} 条
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">

                            </div>
                        </div>-->
					<!--结束table尾部分页以及工具栏-->
				</div>
			</div>
		</div>
	</div>
	<!-- End: life time stats -->
</div>
</div>















<!--end zzjg-->
<div class="clear"></div>
<style type="text/css">
.app-modal-window-detail .modal-dialog {
	width: 560px;
}
</style>



<script type="text/ng-template" id="department-add.html">
    <div class="modal-header lm_window_head" >
        <p class="p1" >
            <span  ng-if="user.item.id==undefined||org.item.id==''">添加部门</span>
            <span  ng-if="user.item.id!=undefined&&org.item.id!=''">修改部门</span></p>
        <p class="p2" >  <button class="btn btn-xs" ng-click="cancel()">关闭</button></p>
    </div>
    <form action="#" name="myform" class="form-horizontal">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="display: block">
                    <label  class="col-md-3 control-label lm_lbl" style="text-align:right">部门名称：<span ng-class="{required:myform.dept_name.$invalid}">*</span></label>
                    <div class="col-md-8">
                        <input ng-model="user.item.name" name="dept_name" type="text"  required/>

                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="display: block">
                    <label  class="col-md-3 control-label lm_lbl" style="text-align:right">上级部门： </label>
                    <div class="col-md-4">
                        <select ng-model="user.item.department_id" name="department_id" style="width:270px;">
                            <option value="">顶级部门</option>
                            <option ng-repeat=" dept in user.deptList" value="{{dept.id}}">{{dept.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group" style="display: block">
                    <label  class="col-md-3 control-label lm_lbl" style="text-align:right">部门描述： </label>
                    <div class="col-md-4">
                        <div class="zdytjzdnr_table_zdm_01">
                            <textarea name="description" ng-model="user.item.description" style="width:270px;"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </form>
    <div class="modal-footer lm_window_footer" >
        <button class="btn btn-xs" ng-click="submit()" ng-disabled="myform.$invalid">保存</button>
        <button class="btn btn-xs" ng-click="cancel()">关闭</button>
        <!--<button class="btn btn-xs" ng-click="selectNode(this)">确认</button>-->
    </div>
</script>


<script type="text/ng-template" id="position-add.html">
    <div class="modal-header lm_window_head" >
        <p class="p1" >
            <span  ng-if="org.item.id==undefined||org.item.id==''">添加岗位</span>
            <span  ng-if="org.item.id!=undefined&&org.item.id!=''">修改岗位</span>
        </p>
        <p class="p2" >  <button class="btn btn-xs" ng-click="cancel()">关闭</button></p>
    </div>
    <form action="#" name="myform" class="form-horizontal">
        <div class="modal-body">

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: block">
                        <label  class="col-md-3 control-label lm_lbl" style="text-align:right">岗位名称：<span ng-class="{required:myform.post_name.$invalid}">*</span></label>
                        <div class="col-md-8">
                            <input ng-model="user.item.name" name="post_name" type="text"  required/>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: block">
                        <label  class="col-md-3 control-label lm_lbl" style="text-align:right"> 所属部门:<span ng-class="{required:myform.department_id.$invalid}">*</span></label>
                        <div class="col-md-8">
                            <select ng-model="user.item.department_id" name="department_id"  style="width:270px;" required>
                                <option value="">--请选择--</option>
                                <option ng-repeat=" dept in user.deptList"  value="{{dept.id}}" ng-selected="dept.id==user.item.department_id">{{dept.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: block">
                        <label  class="col-md-3 control-label lm_lbl" style="text-align:right"> 上级岗位:<span ng-class="{required:myform.position_id.$invalid}">*</span></label>
                        <div class="col-md-8">
                            <select ng-model="user.item.position_id" name="position_id"  style="width:270px;">
                                <option value="">--请选择--</option>
                                <option ng-repeat=" post in user.postList"  value="{{post.id}}" ng-selected="post.id==user.item.position_id">{{post.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="display: block">
                        <label  class="col-md-3 control-label lm_lbl" style="text-align:right">部门描述： </label>
                        <div class="col-md-4">
                            <div class="zdytjzdnr_table_zdm_01">
                                <textarea name="description" ng-model="user.item.description" style="width:270px;"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
    <div class="modal-footer lm_window_footer" >
        <button class="btn btn-xs" ng-click="submit()" ng-disabled="myform.$invalid">保存</button>
        <button class="btn btn-xs" ng-click="cancel()">关闭</button>
        <!--<button class="btn btn-xs" ng-click="selectNode(this)">确认</button>-->
    </div>
</script>

